<div class="load" style="width: 100vw;height: 50vh;"></div>
<div class="w3-content" style="max-width:2000px;margin-top:46px">
    <!-- Automatic Slideshow Images -->
    <div class="w3-display-container w3-center">
      <img src="../../assets/header.jpg" style="width:100vw;" class="img-responsive">
      <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
        <div class="caption">
        <h3><b>Agricultural Schemes</b></h3>
        </div>  
      </div>
    </div>
  
    <!-- The Band Section -->
<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
<h5 class="w3-justify">The agriculture sector contributed 51.9 percent to India’s GDP in 1950. Since then it has been on a downside and it currently stands at 13.9 percent. However, a change from an agrarian-centric economy to an industry-centric economy is inevitable with the advent of industries. With industries growing at a faster pace than the rate at which trees are being planted, will there be a time when agriculture’s productivity dwindles to a null? If yes, is it already here?</h5>
<p class="w3-justify">Living in a country where the cattle is worshipped as a goddess, about 60 percent of the population was banking on agriculture for their main source of income during the 1950s. Despite half of the population still continuing with the profession, the returns are low. While urbanisation might be cited as a reason, it is hard not to neglect the fact that agriculture is no more a profitable sector. Infrastructure costs have started running high, with its maintenance cost and capital investment only adding on to the farmers’ misery. According to an article by The Hindu, the average recovery rate of the investments made by Indian farmer is only 30 percent.</p>
<p class="w3-justify">Another cause for low productivity is small holdings of land with farmers. By owning a fragmented land, effective irrigation and optimum usage of fertilisers for crops becomes difficult, thus resulting in lower yields. In India, more than two-thirds of the crops lack proper irrigational facilities, albeit India being the second largest irrigated country after China. But improper irrigation can also lead to other problems affecting yield like soil erosion, salinity, etc.</p>
<p class="w3-justify">In the wake of agriculture losing its lucrative appeal, budget 2016-17 has proposed to bring 2.85 million hectares under irrigation, Rs 2,87,000 to be donated and 100 percent electrification to all villages by May 2018. The government has also announced a couple of initiatives to resolve the farmers’ plight.</p>
</div>
</div>
