<section id="not-found" style="width: 100vw;height: 100vh;">
  <div class="pt-3 pl-5" style="height: 21vh;"><a class="logo navbar-brand" href="#" style="font-weight:bold;width: 70vw;height: 18vh;"><strong>Back Home</strong></a></div>
  <div class="circles">
    <p>404<br>
     <small>PAGE NOT FOUND</small>
     <!-- <button class="btn purple-gradient" style="background: linear-gradient(70deg, #48A9E6, rgb(102, 93, 231));">Home</button> -->
    </p>
    <span class="circle big"></span>
    <span class="circle med"></span>
    <span class="circle small"></span>
  </div>
</section>
