<div class="load" style="width: 100vw;height: 50vh;"></div>
<div class="w3-content" style="max-width:2000px;margin-top:46px">
    <!-- Automatic Slideshow Images -->
    <div class="w3-display-container w3-center">
      <img src="../../assets/header.jpg" style="width:100vw;" class="img-responsive">
      <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
        <div class="caption">
        <h3><b>AgroSearch</b></h3>
        <h6><b>“Farming is not just a job, it’s a way of life.”</b></h6> 
        </div>  
      </div>
    </div>
  
    <!-- The Band Section -->
<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
<h2 class="w3-wide">“I believe in the future of agriculture, with a faith born not of words but of deeds.”</h2>
<p class="w3-opacity"><i>In seed time learn, in harvest teach, in winter enjoy.</i></p>
<p class="w3-justify">“Agriculture is our wisest pursuit, because it will in the end contribute most to real wealth, good morals, and happiness.”
    </p>
</div>
</div>
