<div class="fixed-top" style="background: #4776E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(70deg, #8E54E9, #4776E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(70deg, #8E54E9, rgb(102, 93, 231)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  ">
  <mdb-navbar SideClass="navbar img-fluid navbar-expand-lg navbar-dark scrolling-navbar" [containerInside]="true">
          <logo>
              <a class="logo navbar-brand" href="#" style="">
                  <!-- <strong>AgroSearch</strong> -->
                  <strong><img src="../../assets/icon.png"></strong>
                </a>
          </logo>
          <links>
              <ul class="navbar-nav mr-auto pl-3">
                  <li class="nav-item waves-light" mdbRippleRadius>
                    <a class="nav-link" routerLink="">Home</a>
                    <!-- <a class="nav-link">Home <span class="sr-only">(current)</span></a> -->
                  </li>
                  <li class="nav-item waves-light" mdbRippleRadius>
                      <a class="nav-link" routerLink="ict">ICT in agriculture</a>
                  </li>
                  <li class="nav-item waves-light" mdbRippleRadius>
                    <a class="nav-link" routerLink="profile">About</a>
                </li>
                  <li class="nav-item waves-light" mdbRippleRadius>
                      <a class="nav-link" routerLink="careers">Careers</a>
                  </li>
              </ul>
              <ul class="navbar-nav nav-flex-icons">
                  <li class="nav-item waves-light" mdbRippleRadius>
                      <a class="nav-link"><i class="fa fa-facebook"></i></a>
                  </li>
                  <li class="nav-item waves-light" mdbRippleRadius>
                      <a class="nav-link"><i class="fa fa-twitter"></i></a>
                  </li>
                  <li class="nav-item waves-light" mdbRippleRadius>
                      <a class="nav-link"><i class="fa fa-instagram"></i></a>
                  </li>
              </ul>
          </links>
        </mdb-navbar>
      </div>
